{% extends "base.html" %}

{% block content %}
<div class="text-center m-2">
    <h2 >Borrow book History</h2>
    <table class="table m-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Category</th>
            <th scope="col">Time</th>
            <th scope="col">Borrowing Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for alb in purchases %}
        <tbody>
            <tr>
              <th scope="row">{{alb.pk}}</th>
              
              <td>{{alb.book}}</td>
              <td>{{alb.category_name}}</td>
              <td>{{alb.purchased_on}}</td>
              <td>{{alb.price}}</td>
              <td><button class="btn btn-danger">Return</button></td>
            </tr>
        </tbody>
        {% endfor %}
      </table>

      <a href="{% url 'homepage' %}" class="btn btn-primary mt-3 mb-5">Back to Home</a>
      <br><br>
</div>
{% endblock  %}

{% comment %} {% extends "base.html" %}

{% block content %}  
<div class="text-center" >
    <h2>Borrow book History</h2>
    <ul>
        {% for purchase in purchases %}
            <li>{{ purchase.book }} ({{ purchase.category_name }}) - Purchased on {{ purchase.purchased_on }} for BDT {{ purchase.price}}/-</li> 
        {% endfor %}
    </ul>
    <a href="{% url 'homepage' %}" class="btn btn-primary mt-3 mb-5">Back</a>
</div>
{% endblock content %} {% endcomment %}