{% extends 'base.html' %} 
{% block content %}
    <div class="d-flex flex-wrap px-5 pt-3 ">
        <div class="class col-2 mt-5">
            <h5>Available Books Category :</h5>
            {% for category in categorys %}
            <div class="form-check">
                <input class="form-check-input" type="radio"  name="category" id="{{category.id}}" >
                <label class="form-check-label" for="{{category.id}}">
                <a href="{% url 'category_wise_book' category.slug %}" class="text-decoration-none text-dark" >{{category.category_name}}</a>
                </label>
            </div>
            {% endfor %}
        </div>

        <div class="class col-10">
            <h3 class="text-center"> Aaviable Category type: {{data | length}}</h3>
            {% if request.user.is_authenticated %}
            <div class="d-flex flex-wrap gap-2 mt-3 mb-3 justify-content-center">
                <a class="btn btn-success btn-sm" href="{% url "profile" %}">Edit Profile</a> <br>
                <a class="btn btn-dark btn-sm" href="{% url "pass_change" %}">Change Your Password</a>
                <a class="btn btn-success btn-sm" href="{% url "profile_history" %}">Purchase History</a>
            </div>
            {% endif %}
            <div class="d-flex flex-wrap justify-content-center">
                {% for book in data %}
                    <div class="book" style="width: 18rem; margin: 10px; border-radius:10px">
                        {% if book.image %}
                            <img class="book-img-top" src="{{ book.image.url }}" alt="{{ book.name }}">
                        {% endif %}
                        <div class="book-body text-center">
                            <h5 class="book-title">{{ book.name }}</h5>
                            {% comment %} <p class="book-text">{{ book.desc |truncatewords:8 }}</p> {% endcomment %}
                            <h6>Borrowing Price: BDT {{ book.price }}/-</h6>
                            {% comment %} <p>Available Quantity: {{ book.quantity }}</p> {% endcomment %}
                            <a href="{% url 'buy_book' book.id %}" class="btn btn-warning">Borrow Now</a>
                        </div>                
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


